
.titles{
	height:35px;
   margin:8px 0;
   overflow:hidden;
}
.titles-left{
	font-size:18px;
	color:#000;
	line-height:35px;
	text-align:center;
	width:300px;
	float:left;
	margin-left:300px;
}
.titles-right{
	float:right;
	font-size:16px;
	line-height:35px;
	color:#fff;
	text-align:center;
   width:60px;
   margin-right:25px;
   background-color:#0087FF;
}

.titles-right a{
	display:block;
	text-decoration:none;
	color:#fff;
}

.tab{
	width:800px;
	margin-top:10px;
	border:1px solid #333;
}

.tab-title{
/*	width:45px; */
	height:25px;
	font-size:15px;
	text-align:center;
	border-left:1px solid #333;
	border-top:1px solid #333;
}

.tab-titlehf{
	
}



.tab-title a{
	 display:block;
	 height:25px;
	 line-height:25px;
     margin:5px 0;
     padding:5px 0;
	text-decoration:none;
	color:#fff;
	background:#317EF3;
}

.tab-title  .delhf{

	background:red;
}


.adduser{

	display:inline-block;
	height:30px;
	padding:3px 20px;
	margin:10px 20px;
	text-align:center;
	border-radius:5px;
	font-size:18px;
	background-color:#317EF3;
}

.adduser a{
	text-decoration:none;
	display:block;
	line-height:28px;
	font-size:15px;
	color:#fff;
}

.article-top{
	width:500px;
	margin:20px 0;
	font-size:18px;
	line-height:20px;
	color:#333;
	border:1px solid #666;
}

.article-btn{
	width:60px;
	height:25px;
	
	margin-left:30px;
	text-align:center;
	background-color:#0083FF;

}

.article-btn a{
	line-height:25px;
	font-size:18px;
	color:#333;
	text-decoration:none;
}


.content{
 margin:3px auto;	 
 overflow:hidden;
}

.content .ordertime{

	width:150px;
	height:35px;
	margin:8px 10px;
	float:left;
	border-radius:5px;
	border:1px solid #ccc;

}

.content .ordertime .ordertime-l{
	width:20px;
	height:30px;
	line-height:0px;
	float:left;
	margin:0 auto;
	padding:0;
	
	
}


.ordertime-l .ortm{

	margin-top:0px;
}



.content .ordertime .ordertime-r{
	width:85px;
	height:30px;
	float:left;
	text-align:center;
}



.content .tsel{

	width:200px;
}





.content .tsel .ordertime-l{
	width:65px;
	line-height:35px;
	text-align:center;
	
}


.content .tsel .ordertime-r{

	width:120px;
}

.tsel .btn {

width:200px;
height:35px;
border-radius:5px;
background:#317EF3;
color:#fff;
font-size:20px;
letter-spacing:5px;
border:none;
cursor: pointer;

}

.colorupdate{

opacity:0.3;

}

.orderon{
    
    float:left;
    width:100px;
	height:35px;
	line-height:35px;
	margin:2px auto;
	background:#317EF3;
	color:#fff;
	letter-spacing: 2px;
	border-radius:5px;
margin:10px 15px;
	cursor:pointer;
}

.cancle{

 display:none;
 float:left;
  width:100px;
	height:35px;
	line-height:35px;
	margin:2px auto;
	background:#B40001;
	color:#fff;
	letter-spacing: 2px;
	border-radius:5px;
	cursor:pointer;
	margin:10px 15px;
}

.orderwc{
	
background:#ccc;
pointer-events: none;

}


.orderteacher{

	width:800px;
	height:60px;
	margin:0;
	border:1px solid #eee;
}


.ordcom{

	float:left;
}

.orderteacher  .ordtr{
margin:0 20px;

}



.orderteacher  .set{
	width:150px;
	height:35px;

	
}

.cxorder{

width:100px;
height:25px;
line-height:25px;
margin:10px;
background:#317EF3;
background:rgba(49,126,243,0.75);
color:#fff;
padding:10px;
border-radius:5px;
font-size:16px;


}

.countnum{

	height:35px;
   margin:15px 0;
}

.countnum .infowd{
	padding:0px 10px;
	line-height:35px;
	}

.countnum .numinfo{
	padding:5px 0px;
	color:red;
	font-size:25px;
}

/*分页类样式开始*/

.pagination ul {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}
.pagination ul li {
  display: inline;
}
 
.pagination ul li.rows {
    line-height: 30px;
    padding-left: 5px;
}
.pagination ul li.rows b{color: #f00}
 
.pagination ul li a, .pagination ul li span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #fff;
   /* background: url('../images/bottom_bg.png') 0px 0px; */
    border: 1px solid #d3dbde;
    /*border-left-width: 0;*/
    margin-left: 2px;
    color: #08c;
}
.pagination ul li a:hover{
    color: red;
    background: #0088cc;
}
.pagination ul li.first-child a, .pagination ul li.first-child span {
    border-left-width: 1px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-topleft: 3px;
}
.pagination ul .disabled span, .pagination ul .disabled a, .pagination ul .disabled a:hover {
color: #999;
cursor: default;
background-color: transparent;
}
.pagination ul .active a, .pagination ul .active span {
color: #999;
cursor: default;
}
.pagination ul li a:hover, .pagination ul .active a, .pagination ul .active span {
background-color: #f0c040;
}
.pagination ul li.last-child a, .pagination ul li.last-child span {
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
}
 
.pagination ul li.current a{color: #f00 ;font-weight: bold; background: #ddd}

/*分页类样式结束*/

.checksl{

    font-size:14px;
	padding:5px 20px;
	border:1px solid #000;
}

.navctn{

    overflow:hidden;
    margin-top:-20px;
}

.navadd{

	margin-top:-30px;
}



.navctn .groupone{
	float:left;
	
}


.navctn .groupone a{
	text-decoration:none;
	display:block;
	line-height:28px;
	font-size:15px;
	color:#fff;
}


.listctn{
	width:300px;
	height:500px;
	margin:30px 0;
	
}


.lsitctnhow{
	display:block; 
}



.changebgcolor{
	background:rgba(49,126,243,1);
}


