<!DOCTYPE html>
<html>
<head>
	<title>满分爱预约管理系统</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/style/css/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/style/css/themes/icon.css">

  <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/css/index.css">

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/style/css/adduser.css">
	<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/jquery.easyui.min.js"></script>

  <script>

    function test(){
      
      if(document.getElementById('spot-n').value==""){
        alert('QQ号不能为空');
        return false;
      }


   /*   
 if(document.getElementById('spot-p').value==""){
        alert('密码不能为空');
        return false;
      }
*/
   
}
  </script>


</head>
<body class="easyui-layout">   
	

<div class="add-title">添加QQ号</div>

<if condition="$shownavid eq 2 "> 

       <div class="add-ctn">
         
         <form action="{:U(home/qqtrade/keywdadd)}" method="POST" enctype="multipart/form-data" onsubmit="return test()";>
<div class="content">
          QQ号: <input type="text" id="spot-n" name="kwd"  oninput="this.value=this.value.replace(/\s+/g,'')"   >
</div>

<div class="content">
           <input  type="hidden"  id="spot-m"   value="{$tid}"  name="tid">
           <input  type="hidden"  id="spot-m"   value="{$shownavid}"  name="classifyid">

</div>






 <div class="content content-btn"><input class="btn" type="submit" name="" value="提交"></div>
        </form>
</div>
    
<else />

       <div class="add-ctn">
         
         <form action="{:U(home/qqtrade/keywdadd)}" method="POST" enctype="multipart/form-data" onsubmit="return test()";>
<div class="content">
          QQ号: <input type="text" id="spot-n" name="wx"  oninput="this.value=this.value.replace(/\s+/g,'')"  >
</div>

<div class="content">
        <input  type="hidden"  id="spot-m"   value="{$tid}"  name="tid">
           <input  type="hidden"  id="spot-mn"   value="{$shownavid}"  name="classifyid">

</div>

<!--
<div class="content">
          密码: <input type="password" id="spot-p" name="spotpwd"  readonly    onfocus="this.removeAttribute('readonly')"     >
</div>-->

  <div class="content" >
          上传二维码: <input type="file" name="images">
          <span class="content-require">上传图片大小不超过300kb</span>
        </div>





    <input   type="hidden" name="rights"    value='3' >



              <div class="content content-btn"><input class="btn" type="submit" name="" value="提交"></div>
        </form>
</div>

</if>


      
</body>  
</html>