<!DOCTYPE html>
<html>
<head>
	<title>加粉管理系统</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/style/css/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/style/css/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/style/css/index.css">
	<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/jquery.easyui.min.js"></script>
 <script type="text/javascript" src="__PUBLIC__/js/index.js"></script>
<style>
  
  .groupone{
  width:120px;
  text-align:center;
  cursor: pointer;
  
}

</style>

<script>
function del()
{
  if(confirm("确定要删除吗？")) 
  {
    return true;
  }
  else
  {
    return false;
  }
}
</script>


<script>
$(function(){

//删除所选QQ号功能开始
$(".delselkwd").click(function(){

var arrid=document.getElementsByClassName('box');

var arr_id=[];

var flid=document.getElementById('flid').value

for (var i = 0; i < arrid.length; i++) {

if(arrid[i].checked){

arr_id.push(arrid[i].value)

}

}

if(arr_id==''){

console.log('无数据')
alert('请选择删除项')
return false;

}

else{

  if(confirm("确定要删除所选项吗？")) 
  {
    
  //  return true;


//请求数据结束

  $.ajax({ 

     dataType:'json', 

    // url : 'http://localhost/ordersystem/chw/index.php/Home/Book/booklist?',
     url : "{:U('home/qqtrade/keywd_alldel')}",
     data:{
      
        tradid:arr_id,
        flid:flid,
     },
     
      type: "POST",

    async:false,//这里选择异步为false，那么这个程序执行到这里的时候会暂停，等待                    //数据加载完成后才继续执行      
  success : function(data){   

var  msg=data;

//循环列表开始

if(msg=='删除成功'){
 
alert('删除成功')
window.location.reload()

}

//循环列表结束

         }    

       }); 

//请求数据结束

  }
  else
  {
    return false;
  }

}

})

//删除所选QQ号功能结束

})

</script>


</head>
<body>   
   <!-- <div class="adduser"><a href="{:U('home/qqtrade/keywdadd',array('tid'=>$tid))}">添加关键词</a></div> -->

<div  class="tabctn">
<!--关键词列表开始-->

<div  class="listctn lsitctnhow">



<div class="adduser navadd"><a href="{:U('home/qqtrade/keywdadd',array('tid'=>$tid,'navid'=>$shownavid))}">添加QQ号</a></div>


<div class="adduser " style="color:#fff;" > 计划名称: {$projectname } </div>


	     <table class="tab" cellspacing="0" cellpadding="0" >
           <thead  >
               <tr >
                <th class="tab-title" width="80">id</th>
                   <th class="tab-title" width="150">QQ号</th>
                    <th class="tab-title" width="150">添加时间</th>
                  
                    <!-- <th class="tab-title"  width="150">图片编号</th>
                     <th class="tab-title"  width="150">图片地址</th> -->
                   <th class="tab-title" width="120">操作</th>
               </tr>
           </thead>
           <tbody  id="groupinsert" >
            <foreach name='splist' item="list">
               <tr>
      



 <td   class="tab-title" ><input name="kid" id="id"  class="box"  type="checkbox" value="{$list.id}" >   {$list.id} </td>

<!--分类id开始-->

<input  type="hidden" name="fldid" id="flid"   value="{$shownavid}" > 


<!--分类id结束-->

<if condition="$shownavid eq 2 "> 
                <td class="tab-title" >{$list.kwd}</td>

<else />

 <td class="tab-title" >{$list.wx}</td>


</if>

                 <td class="tab-title" >{$list.ordertime|date='Y-m-d H:i',###}</td>
                <td class="tab-title  tab-titlehf " ><a href="{:U('home/qqtrade/keywd_edit',array('keyid'=>$list['id'],'keytid'=>$tid,'navid'=>$shownavid))}">修改</a> 

              
                <a  class="delhf" href="{:U('home/qqtrade/keywd_del',array('keyid'=>$list['id'],'keytid'=>$tid,'navid'=>$shownavid))}"  onclick='return del();' >删除</a>



                </td>
               </tr>

             </foreach>

<!--选择删除结束-->

<tr>     <td  class="tab-title"  colspan="4" style="padding-left:20px;text-align:left;height:45px;"><input class="checksl"  id="selectAll" type="button"  value="全选" onclick="checkAll()"/>
<input class="checksl"  id="unselectAll" type="button"  value="全不选" onclick="uncheckAll()"/>

<input  class="checksl" id="disSelect" type="button" value="反选" onclick="encheckAll()"/>
                </td>          </tr>


<tr ><td  class="tab-title"  colspan="4"  style="text-align:left;height:45px;padding-left:20px;"><button style="width:120px;height:35px;font-size:18px;" class="delselkwd"   /> 删除所选</button> </td></tr>

<!--选择删除开始-->
             
           </tbody>
       </table>	
<div class="pagination">
    　　<ul>
            <li>{$page}</li>
        </ul>
</div>

</div>



<!--关键词列表结束-->





</div>



</body>  
</html>